<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Products View</title>
</head>

<body>
    <h1>Products View</h1>
    <p>This is the products view rendered using EJS.</p>

    <table>
        <tr>
            <th>ID</th>
            <th>Products</th>
        </tr>
        <% products.forEach(product=> { %>
            <tr>
                <td>
                    <%= product.id %>
                </td>
                <td>
                    <%= product.title %>
                </td>
            </tr>
            <% }) %>
    </table>
</body>

</html>